/*       Source:  Local Cache                                                                 */
/*     Location:  rsrc:107914:/html/css/feed/fan.css                                          */
/*      Machine:  10.16.140.110                                                               */
/*    Generated:  July 21st 2008 8:53:36 PM PDT                                               */
/*    HTTP Host:  static.ak.fbcdn.net                                                         */


.fbpage_fan .fbpage_pic{float:left;padding:0px 0px 0px;}
.fbpage_fan .fbpage_info{float:left;width:250px;padding:3px 0px 3px 7px;}
.fbpage_fan .fbpage_type{color:gray;font-size:11px;padding:0px;}
.fbpage_fan .fbpage_fans_count{color:#000;padding:3px 0px;}
