body:last-child:not(:root:root) #search-engine .search-types input { 
  position: relative;
  top: -5px;
}

body:last-child:not(:root:root) #search-engine .search-types input { 
  position: relative;
  top: -5px;
}

body:last-child:not(:root:root) #main-submit {
	margin-top:2px;
}