/*       Source:  Local Cache                                                                 */
/*     Location:  rsrc:105463:/html/css/feed.css                                              */
/*      Machine:  10.16.139.107                                                               */
/*    Generated:  July 21st 2008 8:53:36 PM PDT                                               */
/*    HTTP Host:  static.ak.fbcdn.net                                                         */


.no_stories{margin:10px 0 0;padding:10px 30px;font-size:13px;color:#777;text-align:center;}
.story_nav_header{padding:5px;}
.feed_date_header{margin:10px 0 0px;padding:2px 0;border-bottom:1px solid #ccc;color:#888;font-size:9px;font-weight:bold;}
.home_main_item .last_story{border-bottom:none;}
.feed_story_wrapper{float:right;width:396px;padding-bottom:10px;border-bottom:1px solid #d8dfea;}
.feed_item{padding-top:8px;position:relative;}
.feed_item .feed_icon{float:left;padding-top:1px;width:16px;text-align:left;}
.feed_item .feed_icon img{width:100%;}
.feed_item .header_container{padding-top:2px;margin-bottom:5px;}
.feed_item .header_container h2{float:left;font-size:11px;color:#333;}
.feed_item .header_container h2 span{float:none;color:#999;font-size:9px;font-weight:normal;}
.feed_item h2 strong{color:#777;}
.feed_item h3{font-size:11px;padding-top:0;margin-top:-2px;font-weight:bold;}
.feed_item h4{font-size:11px;font-weight:normal;color:#999;margin-bottom:0;border-bottom:none;}
.prefs_link{margin-top:10px;text-align:right;}
.feed_item .feed_column .left{padding-right:7px;}
.subtitle{clear:both;display:block;font-size:9px;padding-top:2px;}
.feed_item h4 span{font-size:9px;color:#000;}
.feed_item p{margin:0;}
.one_liner_cluster{padding:6px 0 0;}
.bumper{height:1px;margin:2px 0 0 23px;color:#d8dfea;background:#d8dfea;border:none;overflow:hidden;}
.one_liner{position:relative;margin:0;padding:0;}
.one_liner .feed_story_wrapper{border-top:0;border-bottom:0;margin:0;padding:0 0 7px 0;}
.one_liner .feed_icon{text-align:right;}
.one_liner .header_container{margin:0;padding:2px 0 0;border-top:0;border-bottom:0;background:transparent;}
.one_liner h2{border:0;margin:0;font-size:11px;font-weight:normal;}
.one_liner h2 a{font-weight:normal;color:#3B5998;}
.one_liner h2{overflow:none;width:auto;}
.feed_item .feed_picture_right, .feed_item .feed_picture_left{text-align:center;font-size:9px;}
.feed_item .feed_picture_right a, .feed_item .feed_picture_left a{font-size:9px;color:#666;}
.feed_item .feed_picture_right img, .feed_item .feed_picture_left img{}
.feed_item .feed_picture_right{padding:3px 0 0 7px;float:right;}
.feed_item .feed_picture_left{padding:3px 7px 0 0;float:left;}
.feed_item .action_links{margin-top:-2px;margin-right:5px;float:right;}
.call_to_action{font-size:11px;}
.feed_item .info_table{padding:0 0 0 0;}
.feed_item .info_table h4, .feed_item .info_text h4{padding-bottom:0;border-bottom:0;font-size:11px;color:#777;}
.feed_item .info_table h4 .inline{white-space:nowrap;}
.feed_item .info_table h6, .feed_item .info_text h6{margin:0;padding:0 0 5px 0;font-weight:normal;font-size:11px;color:#999;}
.feed_item .info_table table{margin:3px 0 0;border-collapse:collapse;}
.feed_item .info_table table th{white-space:nowrap;padding-right:7px;text-align:left;vertical-align:top;font-weight:normal;color:#666;}
.feed_item .info_table table th.on_top{font-size:9px;color:#888;}
.feed_item .info_table table td.on_bottom{padding:0 0 4px;}
.feed_item .info_table .actions td{padding:3px 0 0 0;}
.feed_item .user_input{background:#fff;}
.photo_info .album_title a{font-weight:bold;}
.photo_info .album_title span{color:#999;}
.photo_info .album_title .break{display:block;color:#999;}
.photo_info .album_post{padding-top:2px;color:#333;font-size:9px;}
.photo_info .location,
.photo_info .album_owner{padding-top:2px;text-align:left;}
.object_info .in_this_album{padding-top:2px;}
.object_info{margin-top:8px;}
.object_info table{border-collapse:collapse;}
.object_info table th{color:#777;font-weight:normal;}
.object_info table th, .object_info table td{text-align:left;vertical-align:top;}
.object_info table td{padding-right:10px;}
.object_info .category{color:#333;font-size:9px;border:none;}
.photo_widget{margin:0 5px 5px -6px;}
.photo_widget a{margin-left:6px;padding-bottom:2px;}
.photo_widget img{vertical-align:middle;}
.photo_widget a img{background:#fff;padding:4px;}
.app_story_8032453949 .photo_widget a img,
.app_story_21370137768 .photo_widget a img{padding:3px;border:1px solid #ccc;}
.app_story_8032453949 .photo_widget a:hover img,
.app_story_21370137768 .photo_widget a:hover img{border-color:#3b5889;}
.photo_borders a img{padding:3px;border:1px solid #ccc;}
.photo_borders a:hover img{border:1px solid #3b5998;}
.photo_widget_wrapper .body{clear:both;}
.widget_style_1 .photo_widget, .widget_style_2 .photo_widget{float:left;}
.widget_style_1 .body, .widget_style_2 .body, .widget_style_3 .body{padding-top:2px;clear:none;}
.newsfeed_header{margin:0 0 0px;padding:0 0 2px 0;border-bottom:1px solid #d8dfea;}
.newsfeed_header .icon{float:left;}
.newsfeed_header h2{float:left;font-size:14px;padding-right:5px;}
.newsfeed_header h2 span{color:#333;font-size:11px;}
.newsfeed_header h2 .subtitle{display:inline;font-weight:normal;color:#999;font-size:9px;}
.newsfeed_header .right_link{padding-top:2px;float:right;}
.recent_stories{margin-top:15px;padding:3px 0;border-top:1px solid #d8dfea;text-align:right;}
.wall_post .quote, .gifts_received .quote, .photo_info .comment,
.app_fbcomments_story .quote{float:left;width:280px;margin:3px 5px 8px 0;padding-left:23px;background:url(/images/start_quote.gif) top left no-repeat;}
.wall_post span.em, .gifts_received span.em, .photo_info span.em,
.app_fbcomments_story span.em{padding:2px 23px 2px 0;background:url(/images/end_quote.gif) bottom right no-repeat;font-size:11px;text-align:left;font-style:normal;color:#666;}
.rsvp .call_to_action{padding-top:5px;}
.mobile_photo_upload h2{float:left;width:263px ! important;}
.photo_info .comment{width:270px;}
.wall_post .call_to_action{float:left;width:275px;}
.wall_post .call_to_action.mobile{color:#999;font-size:9px;padding-left:23px;padding-bottom:12px;}
.app_story .edit_app_settings{margin:5px 0px 0px;color:#999999;float:bottom;}
.photo_comment .quote{width:245px;}
.mobile_upload .call_to_action{padding-top:4px;}
.participants_loading{background:url('/images/loading.gif') center no-repeat;height:34px;}
.news_capsule p{width:auto;}
.news_capsule h2{font-size:11px;margin-bottom:2px;}
.wall_post.attached_info{padding:2px 4px 6px 0px;clear:left;color:#666;font-size:10px;line-height:14px;overflow:hidden;white-space:nowrap;}
.wall_post.attached_info img{padding:0px 6px 0px 2px;}
.wall_post.attached_info a{float:none;overflow:hidden;}
.wall_post.attached_info a:hover,
.wall_post.attached_info a:hover span{color:#3b5998;}
.preinstalled_app .application_image{float:left;margin:0 10px 0 0;}
.preinstalled_app .metadata{float:left;width:300px;}
.preinstalled_app .metadata .link{margin:5px 0 0 0;}
.calendar .feed_join_time{color:gray;font-size:11px;padding:0px 0px 4px 0px;}
