#headFlash {
	margin-bottom: 0px;
	padding-bottom: 0px;
	height: 85px;
	position: relative;
	overflow: hidden;
}
#tlHead {
	text-align: left;
	background-image: url(/styles/images/header/tlHead.gif);
	background-repeat: no-repeat;
}
#trHead {
	background-image: url(/styles/images/header/trHead.gif);
	background-repeat: no-repeat;
	background-position: top right;

}
#headerNavBar {
  background-color: #FFFFFF;
  float:left; 
  background-image: url(/styles/images/header/headerbg.gif);
  background-repeat: repeat-x;
  background-position: bottom left;
  font-size:93%;
  line-height:normal;
  width: 950px;
  }
 #headerNavBarCol {
	background-color: white;
	border-left: solid 1px green;
  	border-right: solid 1px green;
	white-space: nowrap;
 }
#headerNavBar ul
{
	margin: 0 0px 0 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
 	vertical-align: bottom;
	white-space: nowrap;
}
#headerNavBar ul li {
  float:left;
  background:url("/styles/images/header/left.gif") no-repeat left top;
  margin:0 2px 0 2px;
  padding:0 0 0 5px;  
  white-space: nowrap;
  }
#headerNavBar a
{
	float: left;
	display: block;
	font-family: verdana, arial, helvetica, sans-serif;
	background: url("/styles/images/header/right.gif") no-repeat right top;
	padding: 5px 10px 4px 6px;
	text-decoration: none;
	font-weight: bold;
	font-size: 10px;
	color: #E0E5F5;
	white-space: nowrap;
}
/* Commented Backslash Hack
   hides rule from IE5-Mac \*/
#headerNavBar a {float:none;}
/* End IE5-Mac hack */
#headerNavBar a:hover {
  color:#FFF;
  }
#headerNavBar .current,#headerNavBar #current {
  background-image:url("/styles/images/header/left_on.gif");
  }
#headerNavBar .current a,#headerNavBar #current a {
  background-image:url("/styles/images/header/right_on.gif");
  color: #375fa3;
  padding-bottom:5px;
  }
#headerNavBar .current a:hover,#headerNavBar #current a:hover {
	color: green;
}
 #subNav {
	clear:both;
	text-align: left;
 	border-bottom: solid 1px green;
 	color: green;
 	position: relative;
 	padding: 5px 0px 7px 5px;
	background:#FFFFFF url("/styles/images/header/subnavbg.gif") repeat-x bottom;
 }
 #subNav a {
 	text-decoration: none;
	font-family: arial, helvetica, sans-serif;
 	color: #CC0000;
	font-size: 11px;
 	font-weight: bold;	
 	padding-right: 8px;
 	padding-left: 8px;
 }
 #subNav a:hover {
 	text-decoration: underline;
 }
 #subNav a:visited {
	
 }

 #underNavColumn {
 	border-left: solid 1px #656588;
 	border-right: solid 1px #656588; 
 }
 #underNav {
 	background-color: #FFFFFF;
 	background-image: url(/styles/images/header/underNavShadow.jpg);
 	background-repeat: repeat-x;
 	position: relative;
 	height: 7px;
 	border-left: solid 1px #313260;
 	border-right: solid 1px #313260;
 }
 #financeSubNav a {
 	font-size: 10px;
 	padding-left: 3px;
 	padding-right: 3px;
 }
#trHead, #trHead div, #trHead h4, #trHead font, #trHead a { font-size: 10px; text-align: left;}
#trHead hr { display: none; }
#trHead h4 { margin: 0; padding: 0; }
#trHead { padding-top: 20px; }