/*       Source:  Local Cache                                                                 */
/*     Location:  rsrc:101728:/html/css/pages.css                                             */
/*      Machine:  10.16.139.107                                                               */
/*    Generated:  July 21st 2008 8:53:35 PM PDT                                               */
/*    HTTP Host:  static.ak.fbcdn.net                                                         */


.fbpage_edit_header{padding:0px 10px 0px 10px;margin:0px;height:31px;border:0px;margin:0px 10px 0px 10px;border-bottom:1px solid #cccccc;background:#fff;}
.fbpage_edit_header .right_content{padding:0px;padding-top:0px;margin:0px;font-size:11px;color:#666;text-align:right;font-weight:bold;margin-left:300px;}
.right_content table{padding:0px;}
.icon_dock{margin:0px;padding:0px;width:300px;float:right;}
.icon_dock .icon_dock_container{margin:0px;padding:0px;padding-top:8px;float:right;z-index:30;}
.icon_dock .edit_link{padding-right:8px;padding-top:10px;font-weight:bold;color:#666;display:block;margin:0px;float:right;}
.icon_dock a{padding:0px;padding-left:5px;padding-top:8px;margin:0px 0px 0px 0px;}
.edit_app_switcher{margin:0px 0px;padding-top:6px;}
.edit_app_switcher .app_switcher_button .name{padding:2px 0px 2px 6px;}
.edit_app_switcher .app_switcher_menu{width:160px;}
.edit_app_switcher .app_switcher_menu .name{width:105px;text-align:left;}
.edit_app_switcher .app_switcher_button .arrow{padding:2px 0px 1px;}
.fbpage_edit_header .right_content img{padding:0px;vertical-align:middle;margin:0px 1px;}
.fbpage_edit_header .left_header{padding:0px;padding-top:7px;padding-bottom:2px;float:left;line-height:20px;padding-left:22px;width:250;white-space:nowrap;overflow:hidden;margin:0px;font-size:11px;font-weight:bold;background:url(/images/icons/ads_and_pages.gif) no-repeat 0px 9px;}
.fbpage_edit_header div.left_header .edit_link{font-weight:normal;padding-left:4px;color:#ccc;}
.fbpage_edit_header div.left_header .edit_link a{color:#6d84b4;}
.pages_viewer_settings{margin:0px;padding:0px;}
.pages_viewer_settings .profile_pic{width:100px;padding:0px;float:left;padding-right:10px;}
.pages_viewer_settings .explanation_text{float:left;width:300px;padding:0px;margin:0px;}
.pages_viewer_settings .checkbox_table{margin:10px 0px;font-weight:normal;color:black;}
.pages_viewer_settings .checkbox_table .checkbox{vertical-align:top;}
.pages_viewer_settings .checkbox_table label{font-weight:normal;color:black;}
.pages_viewer_settings .checkbox_table label .fbpage_profile_viewer_settings_subtext{font-size:9px;color:gray;}
.pages_viewer_settings .privacy_explanation{font-size:9px;color:gray;}
.fan_status_inactive{background-color:#FFFCCC;color:#666666;margin:0px;padding:0px 0px 0px 3px;line-height:18px;}
