td,a,p,.h{
	font-family:tahoma, arial,sans-serif;
	font-size: 11px;
}
.h{font-size:20px}
.h{color:#3366cc}
.q{color:#00c}body {
	background-image: url(images/bg.gif);
	background-color: #000066;
}
